:root {
      /* Slate color */
      --Slate-50-color: #F8FAFC;
      --Slate-100-color: #F1F5F9;
      --Slate-200-color: #E2E8F0;
      --Slate-300-color: #CBD5E1;
      --Slate-400-color: #94A3B8;
      --Slate-500-color: #64748B;
      --Slate-600-color: #475569;
      --Slate-700-color: #334155;
      --Slate-800-color: #1E293B;
      --Slate-900-color: #0F172A;
      --Slate-950-color: #020617;

      /* Gray color */
      --Gray-0-color: white;
      --Gray-50-color: #F9FAFB;
      --Gray-100-color: #F3F4F6;
      --Gray-200-color: #E5E7EB;
      --Gray-300-color: #D1D5DB;
      --Gray-400-color: #9CA3AF;
      --Gray-500-color: #6B7280;
      --Gray-600-color: #4B5563;
      --Gray-700-color: #374151;
      --Gray-800-color: #1F2937;
      --Gray-900-color: #111827;
      --Gray-950-color: #030712;

      /* Zinc color */
      --Zinc-50-color: #FAFAFA;
      --Zinc-100-color: #F4F4F5;
      --Zinc-200-color: #E4E4E7;
      --Zinc-300-color: #D4D4D8;
      --Zinc-400-color: #A1A1AA;
      --Zinc-500-color: #71717A;
      --Zinc-600-color: #52525B;
      --Zinc-700-color: #3F3F46;
      --Zinc-800-color: #27272A;
      --Zinc-900-color: #18181B;
      --Zinc-950-color: #09090B;

      /* Neutral color */
      --Neutral-50-color: #FAFAFA;
      --Neutral-100-color: #F5F5F5;
      --Neutral-200-color: #E5E5E5;
      --Neutral-300-color: #D4D4D4;
      --Neutral-400-color: #A3A3A3;
      --Neutral-500-color: #737373;
      --Neutral-600-color: #525252;
      --Neutral-700-color: #404040;
      --Neutral-800-color: #262626;
      --Neutral-900-color: #171717;
      --Neutral-950-color: #0A0A0A;

      /* Stone color */
      --Stone-50-color: #FAFAF9;
      --Stone-100-color: #F5F5F4;
      --Stone-200-color: #E7E5E4;
      --Stone-300-color: #D6D3D1;
      --Stone-400-color: #A8A29E;
      --Stone-500-color: #78716C;
      --Stone-600-color: #57534E;
      --Stone-700-color: #44403C;
      --Stone-800-color: #292524;
      --Stone-900-color: #1C1917;
      --Stone-950-color: #0C0A09;

      /* Lime color */
      --Lime-50-color: #F7FEE7;
      --Lime-100-color: #ECFCCB;
      --Lime-200-color: #D9F99D;
      --Lime-300-color: #BEF264;
      --Lime-400-color: #A3E635;
      --Lime-500-color: #84CC16;
      --Lime-600-color: #65A30D;
      --Lime-700-color: #4D7C0F;
      --Lime-800-color: #3F6212;
      --Lime-900-color: #365314;
      --Lime-950-color: #1A2E05;

      /* Green color */
      --Green-50-color: #F0FDF4;
      --Green-100-color: #DCFCE7;
      --Green-200-color: #BBF7D0;
      --Green-300-color: #86EFAC;
      --Green-400-color: #4ADE80;
      --Green-500-color: #22C55E;
      --Green-600-color: #16A34A;
      --Green-700-color: #15803D;
      --Green-800-color: #166534;
      --Green-900-color: #14532D;
      --Green-950-color: #052E16;

      /* Emerald color */
      --Emerald-50-color: #ECFDF5;
      --Emerald-100-color: #D1FAE5;
      --Emerald-200-color: #A7F3D0;
      --Emerald-300-color: #6EE7B7;
      --Emerald-400-color: #34D399;
      --Emerald-500-color: #10B981;
      --Emerald-600-color: #059669;
      --Emerald-700-color: #047857;
      --Emerald-800-color: #065F46;
      --Emerald-900-color: #064E3B;
      --Emerald-950-color: #022C22;

      /* Teal color */
      --Teal-50-color: #F0FDFA;
      --Teal-100-color: #CCFBF1;
      --Teal-200-color: #99F6E4;
      --Teal-300-color: #5EEAD4;
      --Teal-400-color: #2DD4BF;
      --Teal-500-color: #14B8A6;
      --Teal-600-color: #0D9488;
      --Teal-700-color: #0F766E;
      --Teal-800-color: #115E59;
      --Teal-900-color: #134E4A;
      --Teal-950-color: #042F2E;

      /* Cyan color */
      --Cyan-50-color: #ECFEFF;
      --Cyan-100-color: #CFFAFE;
      --Cyan-200-color: #A5F3FC;
      --Cyan-300-color: #67E8F9;
      --Cyan-400-color: #22D3EE;
      --Cyan-500-color: #06B6D4;
      --Cyan-600-color: #0891B2;
      --Cyan-700-color: #0E7490;
      --Cyan-800-color: #155E75;
      --Cyan-900-color: #164E63;
      --Cyan-950-color: #083344;

      /* Sky color */
      --Sky-50-color: #F0F9FF;
      --Sky-100-color: #E0F2FE;
      --Sky-200-color: #BAE6FD;
      --Sky-300-color: #7DD3FC;
      --Sky-400-color: #38BDF8;
      --Sky-500-color: #0EA5E9;
      --Sky-600-color: #0284C7;
      --Sky-700-color: #0369A1;
      --Sky-800-color: #075985;
      --Sky-900-color: #0C4A6E;
      --Sky-950-color: #082F49;

      /* Blue color */
      --Blue-50-color: #EFF6FF;
      --Blue-100-color: #DBEAFE;
      --Blue-200-color: #BFDBFE;
      --Blue-300-color: #93C5FD;
      --Blue-400-color: #60A5FA;
      --Blue-500-color: #3B82F6;
      --Blue-600-color: #2563EB;
      --Blue-700-color: #1D4ED8;
      --Blue-800-color: #1E40AF;
      --Blue-900-color: #1E3A8A;
      --Blue-950-color: #172554;

      /* Indigo color */
      --Indigo-50-color: #EEF2FF;
      --Indigo-100-color: #E0E7FF;
      --Indigo-200-color: #C7D2FE;
      --Indigo-300-color: #A5B4FC;
      --Indigo-400-color: #818CF8;
      --Indigo-500-color: #6366F1;
      --Indigo-600-color: #4F46E5;
      --Indigo-700-color: #4338CA;
      --Indigo-800-color: #3730A3;
      --Indigo-900-color: #312E81;
      --Indigo-950-color: #1E1B4B;

      /* Violet color */
      --Violet-50-color: #F5F3FF;
      --Violet-100-color: #EDE9FE;
      --Violet-200-color: #DDD6FE;
      --Violet-300-color: #C4B5FD;
      --Violet-400-color: #A78BFA;
      --Violet-500-color: #8B5CF6;
      --Violet-600-color: #7C3AED;
      --Violet-700-color: #6D28D9;
      --Violet-800-color: #5B21B6;
      --Violet-900-color: #4C1D95;
      --Violet-950-color: #2E1065;

      /* Purple color */
      --Purple-50-color: #FAF5FF;
      --Purple-100-color: #F3E8FF;
      --Purple-200-color: #E9D5FF;
      --Purple-300-color: #D8B4FE;
      --Purple-400-color: #C084FC;
      --Purple-500-color: #A855F7;
      --Purple-600-color: #9333EA;
      --Purple-700-color: #7E22CE;
      --Purple-800-color: #6B21A8;
      --Purple-900-color: #581C87;
      --Purple-950-color: #3B0764;

      /* Fuchsia color */
      --Fuchsia-50-color: #FDF4FF;
      --Fuchsia-100-color: #FAE8FF;
      --Fuchsia-200-color: #F5D0FE;
      --Fuchsia-300-color: #F0ABFC;
      --Fuchsia-400-color: #E879F9;
      --Fuchsia-500-color: #D946EF;
      --Fuchsia-600-color: #C026D3;
      --Fuchsia-700-color: #A21CAF;
      --Fuchsia-800-color: #86198F;
      --Fuchsia-900-color: #701A75;
      --Fuchsia-950-color: #4A044E;

      /* Pink color */
      --Pink-50-color: #FDF2F8;
      --Pink-100-color: #FCE7F3;
      --Pink-200-color: #FBCFE8;
      --Pink-300-color: #F9A8D4;
      --Pink-400-color: #F472B6;
      --Pink-500-color: #EC4899;
      --Pink-600-color: #DB2777;
      --Pink-700-color: #BE185D;
      --Pink-800-color: #9D174D;
      --Pink-900-color: #831843;
      --Pink-950-color: #500724;

      /* Rose color */
      --Rose-50-color: #FFF1F2;
      --Rose-100-color: #FFE4E6;
      --Rose-200-color: #FECDD3;
      --Rose-300-color: #FDA4AF;
      --Rose-400-color: #FB7185;
      --Rose-500-color: #F43F5E;
      --Rose-600-color: #E11D48;
      --Rose-700-color: #BE123C;
      --Rose-800-color: #9F1239;
      --Rose-900-color: #881337;
      --Rose-950-color: #4C0519;

      /* Red color */
      --Red-50-color: #FEF2F2;
      --Red-100-color: #FEE2E2;
      --Red-200-color: #FECACA;
      --Red-300-color: #FCA5A5;
      --Red-400-color: #F87171;
      --Red-500-color: #EF4444;
      --Red-600-color: #DC2626;
      --Red-700-color: #B91C1C;
      --Red-800-color: #991B1B;
      --Red-900-color: #7F1D1D;
      --Red-950-color: #450A0A;

      /* Orange color */
      --Orange-50-color: #FFF7ED;
      --Orange-100-color: #FFEDD5;
      --Orange-200-color: #FED7AA;
      --Orange-300-color: #FDBA74;
      --Orange-400-color: #FB923C;
      --Orange-500-color: #F97316;
      --Orange-600-color: #EA580C;
      --Orange-700-color: #C2410C;
      --Orange-800-color: #9A3412;
      --Orange-900-color: #7C2D12;
      --Orange-950-color: #431407;

      /* Amber color */
      --Amber-50-color: #FFFBEB;
      --Amber-100-color: #FEF3C7;
      --Amber-200-color: #FDE68A;
      --Amber-300-color: #FCD34D;
      --Amber-400-color: #FBBF24;
      --Amber-500-color: #F59E0B;
      --Amber-600-color: #D97706;
      --Amber-700-color: #B45309;
      --Amber-800-color: #92400E;
      --Amber-900-color: #78350F;
      --Amber-950-color: #451A03;

      /* Yellow color */
      --Yellow-50-color: #FEFCE8;
      --Yellow-100-color: #FEF9C3;
      --Yellow-200-color: #FEF08A;
      --Yellow-300-color: #FDE047;
      --Yellow-400-color: #FACC15;
      --Yellow-500-color: #EAB308;
      --Yellow-600-color: #CA8A04;
      --Yellow-700-color: #A16207;
      --Yellow-800-color: #854D0E;
      --Yellow-900-color: #713F12;
      --Yellow-950-color: #422006;

     }